

.title {
     border: 2px solid rgb(139, 90, 0);
    color: white;
    font-style: bold;
    padding: 25px 32px;
    text-align: center;
    font-size: 40px;
    margin: auto;
    width: 400px;
    height: 50px;
    background: navy;
}

.player1, .score1, .player2, .score2 {
    border: 2px solid rgb(139, 90, 0);
    width: 100px;
    height: 40px;
    background: navy;
    color: white;
}


.score {
    display: flex;
    margin: 20px 50px;
}

.players-info2 {
    margin-left: auto;
}

.question-title {
   
    border: 10px solid rgb(139, 90, 0);
    color: white;
    padding: 0px 30px;
    text-align: center;
    font-size: 25px;
    width: 500px;
    height: 100px;
    display: center;
    margin: auto;
    background: navy
    
   }

.answer1, .answer2, .answer3, .answer4 { 

    border: 4px solid rgb(139, 90, 0);
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 30px;
    font-size: 20px;
    color: white;
    width: 400px;
    display: center;
    margin: 9px auto;
    background: navy;
}


.answers {
    margin-top: 45px;
    }


body {
    background-image: url("https://img1.etsystatic.com/169/0/13392950/il_fullxfull.1180147577_gf79.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.answers div:hover {
    background-color: rgb(139, 90, 0);
}
